@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    font-family: "gilroyregular";
    background-color: #171717;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@font-face {
    font-family: "gilroybold";
    src: url("font/gilroy-bold-webfont.woff2") format("woff2"), url("font/gilroy-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "gilroyregular";
    src: url("font/gilroy-regular-webfont.woff2") format("woff2"), url("font/gilroy-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "gilroysemibold";
    src: url("font/gilroy-semibold-webfont.woff2") format("woff2"), url("font/gilroy-semibold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "gilroythin";
    src: url("font/gilroy-thin-webfont.woff2") format("woff2"), url("font/gilroy-thin-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "gilroymedium";
    src: url("font/gilroy-medium-webfont.woff2") format("woff2"), url("font/gilroy-medium-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

.Hero>* {
    height: inherit;
}

.container>* {
    height: inherit;
}

@media screen and (max-width:500px) {
    .container>* {
        height: auto;
    }
}

.grid>* {
    height: inherit;
}

.text-gradient {
    background: radial-gradient( 64.18% 64.18% at 71.16% 35.69%, #def9fa 0.89%, #bef3f5 17.23%, #9dedf0 42.04%, #7de7eb 55.12%, #5ce1e6 71.54%, #33bbcf 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* font-family: 'Pacifico', cursive; */
    /* text-fill-color: transparent; */
}

.nav-links a:hover {
    background: radial-gradient( 64.18% 64.18% at 71.16% 35.69%, #def9fa 0.89%, #bef3f5 17.23%, #9dedf0 42.04%, #7de7eb 55.12%, #5ce1e6 71.54%, #33bbcf 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */
    transition: all;
    transition-duration: 300ms;
}

.bg-blue-gradient {
    background: linear-gradient( 157.81deg, #def9fa -43.27%, #bef3f5 -21.24%, #9dedf0 12.19%, #7de7eb 29.82%, #5ce1e6 51.94%, #33bbcf 90.29%);
}

font-family {
    font-family: "gilroyregular";
    font-family: 'Pacifico', cursive;
    font-family: 'Nunito', cursive;
    font-family: 'Rajdhani', sans-serif;
}

.trans-none span {
    transition: none !important;
}

.first {
    --animate-duration: 0.3s;
}

.sec {
    --animate-duration: 0.5s;
}

.thir {
    --animate-duration: 0.7s;
}

.for {
    --animate-duration: 0.9s;
}